<!DOCTYPE html>
<html lang="es"ng-app="myweb">
<head>
  <title>LOGIN</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
  <link rel="stylesheet" href="estilos.css">
</head>
<body ng-controller="login">
  <form action="">
    <h2>LOGIN</h2>
    <input type="text" placeholder="&#128273; Usuario" name="Usuario" ng-model="Usuario">
    <input type="password" placeholder="&#128273; Contraseña" name="Clave" ng-model="Contra">
    <button type="button" ng-click ="validar()">"ingresar"</button>
  </form>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
  <script src="script.js"></script>

  
</body>
</html>